@import url('https://fonts.googleapis.com/css2?family=Roboto@1&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #f0e2e4;
}